*{
    margin: 0;
    padding: 0;
    font-family:"Neuton", serif;
    box-sizing: border-box;
}
body {
    background-color: #101010;
    color: rgb(255, 255, 255);
}

.container{
    /* Fixes the mobile empty space */
    overflow-x: hidden;
}
.frame{
    
}
.row{
    background-color: #101010;
    display: flex;
    justify-content:space-between;
    

    width: 100%;
}

.row-btn{
    padding: 10px 0;
    background-color: #101010;
    border-radius: 10px;
    display: flex;
    justify-content:left;
    flex-wrap: wrap;
}
/* Scrollbar styles */
.content{
    height: 100px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
    ::-webkit-scrollbar-track {
    border: 1px solid rgb(50, 80, 220);
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    background: rgb(50, 80, 220);  
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: rgb(30, 68, 235);  
    }
/*--Text--*/
.text{
    flex-basis: 85%;
    width: 100%;
}
.text h1{
    color: #aaa;
    font-size: 36px;
    font-weight: 700;
    flex-basis: 30%;
}
.text h3{
    font-size: 26px;
    font-weight: 500;
    transition: 0.5s;
}
.text p{
    font-size: 22px;
    font-weight: 200;
    transition: 0.5s;
}
/*--Buttons--*/
.btn{
    display: block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 30px;
    padding: 13px 23px;
    border: 2.5px solid #f7f7f7;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: #777;
    color: #222222;
    height: 65px;
    align-self: center;
    transition: background 0.25s;

    margin-left: 25px;
    margin-right: 25px;
}
.btn:hover {
    border-color: #000000;
    background: #f7f7f7;
}
.lang-btn{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 5px;
    padding: 13px 16px;
    border: 2.5px solid #f7f7f7;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: rgb(50, 80, 220);
    color: #eee;
    height: 60px;
    align-self: center;
    transition: background 0.25s;

    margin: 0 10px;
}
.lang-btn:hover {
    border-color: #000000;
    background: #aaa;
}

#application-canvas{
    max-height:700px;
}

/*--Responsive--*/
@media only screen and (max-width: 1920px){

}